<!doctype html>

<title>crocofile - the secure file sharing service</title>
<meta name="description" content="Secure file-sharing service.">
<meta name="author" content="Andrei Horodinca, Sarah Braun, Jonas Christensen">

<link rel="stylesheet" href="{{ url_for('static', filename='bower_components/semantic-ui/dist/semantic.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

<script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/jquery-timeago/jquery.timeago.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/semantic-ui/dist/semantic.min.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/cryptojslib/rollups/aes.js') }}"></script>


<script src="{{ url_for('static', filename='bower_components/forge/js/forge.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/forge/js/util.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/forge/js/sha256.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/forge/js/cipher.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/forge/js/cipherModes.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/forge/js/aes.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/forge/js/prng.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/forge/js/random.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/forge/js/jsbn.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/forge/js/asn1.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/forge/js/pem.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/forge/js/pki.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/forge/js/rsa.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/forge/js/oids.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/forge/js/x509.js') }}"></script>

<script src="{{ url_for('static', filename='utils/u8array.js') }}"></script>

<script src="http://cdn.peerjs.com/0.3/peer.min.js"></script>

<div id="logged-in"> {{ logged_in() }} </div>

<div class="ui vertical inverted sidebar menu left uncover">

  <div class="item">
    <h5 class="ui tiny inverted header">USERS</h5>
  </div>

  {% for key in users_online_dict %}
  <a class="user_name item">
    <i class="green circle icon"></i>
    <span class="user-id" data-user-id="{{ key }}">{{ users_online_dict[key] }}</span>
    <input class="_csrf_token" type="hidden" value="{{ csrf_token() }}">
  </a>
  {% endfor %}

  {% for key in users_offline_dict %}
  <a class="item">
    <i class="circle icon"></i>
    <span>{{ users_offline_dict[key] }}</span>
  </a>
  {% endfor %}
</div>

<div id="idiot" style="position:absolute; left:200px; top:200px; z-index:100" class="hide">
  <form>
    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
    <textarea id="textarea">

    </textarea>
    <input type="submit" value="submit" id="message-submit">
  </form>
</div>

<div class="page">
  <div class="ui grid">
    <div class="row">
      <div class="ui inverted fixed menu navbar page grid">
        <a href="/" class="brand item">crocofile</a>
        <div class="right menu">
          <a href="vault" class="item">Vault</a>
            {% if not session.logged_in %}
              <a href="{{ url_for('login') }}" class="item">Login</a>
            {% else %}
              <a href="{{ url_for('logout') }}" class="item">Logout</a>
            {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="pusher">
    <div class="ui page grid main offset">

      {% for message in get_flashed_messages() %}
      <div class="row">
        <div class="column padding-reset">
          <div class="ui message">
            <i class="close icon"></i>
            <div>{{ message }}</div>
          </div>
        </div>
      </div>
      {% endfor %}

      <div class="center aligned row">
        <div class="column padding-reset">
          {% block body %}
          <!-- Content goes here -->
          {% endblock %}
        </div>
      </div>

    </div>
  </div>

</div>

<div class="ui black big launch right attached fixed button">
  <i class="chat icon"></i>
  <span class="text">Users</span>
</div>

<script src="{{ url_for('static', filename='main.js') }}"></script>
