<!doctype html>

<title>crocofile - the secure file sharing service</title>
<meta name="description" content="Secure file-sharing service.">
<meta name="author" content="Andrei Horodinca, Sarah Braun, Jonas Christensen">

<link rel="stylesheet" href="{{ url_for('static', filename='bower_components/semantic-ui/dist/semantic.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

<script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/semantic-ui/dist/semantic.min.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/cryptojslib/components/core.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/cryptojslib/rollups/aes.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/cryptojslib/components/enc-base64-min.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/cryptojslib/rollups/sha1.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/cryptojslib/components/enc-utf16-min.js') }}"></script>

<script src="{{ url_for('static', filename='main.js') }}"></script>

<div class="page">
  <div class="ui grid">
    <div class="row">
      <div class="ui inverted fixed menu navbar page grid">
        <a href="/" class="brand item">crocofile</a>
        <div class="right menu">
          <a href="vault" class="item">Vault</a>
            {% if not session.logged_in %}
              <a href="{{ url_for('login') }}" class="item">Login</a>
            {% else %}
              <a href="{{ url_for('logout') }}" class="item">Logout</a>
            {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="ui page grid main">
    {% for message in get_flashed_messages() %}
    <div class="row">
      <div class="column padding-reset">
        <div class="ui message">
          <i class="close icon"></i>
          <div>{{ message }}</div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>


  <div class="ui page grid main">
    <div class="center aligned row">
      <div class="column padding-reset">
        {% block body %}
        <!-- Content goes here -->
        {% endblock %}
      </div>
    </div>
  </div>
</div>
