{% extends 'base.html' %}

{% block body %}

<div class="ui center aligned relaxed segment">
  <h4 class="ui disabled header">
    Enter the file's password to decrypt it.
  </h4>

  <div class="ui hidden divider"></div>

  <div class="ui two column centered grid">
    <div class="column">
      <div class="ui form">
        <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
        <div class="field">
          <div class="ui action input">
            <input type="text" id="dec-passphrase" placeholder="Paste or type the passphrase here" autofocus>
            <button type="submit" id="dec-submit" class="ui pink button">Decrypt</button>
          </div>
        </div>
      </div>

      <div id="download-container" class="ui hide form">
        <div class="ui horizontal divider">
          Almost there...
        </div>
        <div class="field">
          <div class="ui tiny header">Type your desired filename:</div>
          <div class="ui action input">
            <input type="text" id="download-filename">
            <button id="download-finalize" class="ui pink button" onclick="downloadFile()">Finalize</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui small modal" id="download-modal">
    <i class="close icon"></i>
    <div class="content">
      <h2 class="ui center aligned circular icon header">
        <i class="check icon"></i>
        <div class="content">
          Your file is ready.
        </div>
      </h2>
      <div class="ui hidden divider"></div>
      <a href="#" id="download" class="ui huge pink fluid button">Download it</a>
    </div>
  </div>

</div>

{% endblock %}
