{% extends 'base.html' %}

{% block body %}

<div class="ui center aligned relaxed form segment">
  <div class="ui two column centered grid">
    <div class="column">
      <h4 class="ui dividing header">Login to your account</h4>

       {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

      <form class="ui form" action="{{ url_for('login') }}" method="post">
        <div class="field">
          <div class="ui left icon input">
            <input type="text" placeholder="Username" name="username">
            <i class="user icon"></i>
          </div>
        </div>

        <div class="field">
          <div class="ui left icon input">
            <input type="password" placeholder="Password" name="password">
            <i class="lock icon"></i>
          </div>
        </div>

        <div class="ui two column centered grid">
          <div class="column">
            <button type="submit" class="ui pink submit button">Login</button>
          </div>

          <div class="right aligned column">
            <div class="ui pink basic submit button">Don't have an account?</div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
