{% extends 'base.html' %}

{% block body %}

<div class="ui center aligned relaxed form segment">
  <div class="ui two column centered grid">
    <div class="column">
      <h4 class="ui dividing header">Register</h4>

      <form class="ui fluid form" action="{{ url_for('registration') }}" method="post">
	      <input name=_csrf_token type=hidden value="{{ csrf_token() }}">

        <div class="field {{ userError }}">
          <div class="ui left icon input">
            <input type="text" placeholder="Username" name="username" maxlength="30" required autofocus>
            <i class="user icon"></i>
          </div>
          {% if userError %}
          <div class="ui red pointing label">
            {{ userErrorMsg }}
          </div>
          {% elif userLenError %}
          <div class="ui red pointing label">
            {{ userLenErrorMsg }}
          </div>
          {% endif %}
        </div>

        <div class="field {{ lenError }}">
          <div class="ui left icon input">
            <input type="password" placeholder="Password" name="password" required>
            <i class="lock icon"></i>
          </div>
          {% if lenError %}
          <div class="ui red pointing label">
            {{ lenErrorMsg }}
          </div>
          {% endif %}
        </div>

        <div class="field {{ passError }}">
          <div class="ui left icon input">
            <input type="password" placeholder="Repeat Password" name="password-repeat" required>
            <i class="lock icon"></i>
          </div>
          {% if passError %}
          <div class="ui red pointing label">
            {{ passErrorMsg }}
          </div>
          {% endif %}
        </div>

        <div class="ui two column centered grid">
          <div class="column">
            <button type="submit" class="ui pink submit button">Register</button>
          </div>

          <div class="right aligned column">
            <a href="{{ url_for('login') }}" class="ui pink basic submit button" style="box-shadow:none !important; padding-right: 0;">
              Already have an account?
            </a>
          </div>
        </div>
      </form>

      {% if someError %}
      <div class="ui small negative message">
        <i class="close icon"></i>
        <div>{{ someError }}</div>
      </div>
      {% endif %}

    </div>

    <div class="ui small modal" id="registration-modal">
      <i class="close icon"></i>
      <div class="header">
        <h2 class="ui small header">
          <i class="info icon"></i>
          <div class="content">
            Heads up.
          </div>
        </h2>
      </div>
      <div class="content">
        <h4 class="ui small header">The security of your account is of utmost importance to us, therefore we enforce 2-step verification for every user.</h4>
        <p>
          Before you create your account, make sure you have <a href="https://support.google.com/accounts/answer/1066447?hl=en" target="_blank">Google Authenticator</a> or
          <a href="https://fedorahosted.org/freeotp/" target="_blank">FreeOTP</a> installed on your smartphone. You will need
          one of those apps to complete the registration.
        </p>
      </div>
      <div class="actions">
        <div class="ui green button">I'm ready</div>
      </div>
    </div>

  </div>
</div>

{% endblock %}
