{% extends 'base.html' %}

{% block body %}

<h1>Testing...</h1>

<script type="text/javascript">


    var key = CryptoJS.enc.Hex.parse('000102030405060708090a0b0c0d0e0f');
    var iv  = CryptoJS.enc.Hex.parse('101112131415161718191a1b1c1d1e1f');

    var aesEncryptor = CryptoJS.algo.AES.createEncryptor(key, { iv: iv });

    var ciphertextPart1 = aesEncryptor.process("Message Part 1");
    var ciphertextPart2 = aesEncryptor.process("Message Part 2");
    var ciphertextPart3 = aesEncryptor.process("Message Part 3");
    var ciphertextPart4 = aesEncryptor.finalize();

    console.log(ciphertextPart1);

    var aesDecryptor = CryptoJS.algo.AES.createDecryptor(key, { iv: iv });

    var plaintextPart1 = aesDecryptor.process(ciphertextPart1);
    var plaintextPart2 = aesDecryptor.process(ciphertextPart2);
    var plaintextPart3 = aesDecryptor.process(ciphertextPart3);
    var plaintextPart4 = aesDecryptor.process(ciphertextPart4);
    var plaintextPart5 = aesDecryptor.finalize();

    console.log(plaintextPart5);

</script>

{% endblock %}

CryptoJS.enc.Hex.parse("encrypted shit")
decryptedShit.toString(CryptoJS.enc.Latin1);

function decrypt(text1, text2, iv, passphrase) {
    var aesDecryptor = CryptoJS.algo.AES.createDecryptor(passphrase, { iv: iv });
    var decryptedSlices = [];

    console.log("encrypted wordarray:");
    console.log(text1);
    decryptedSlices.push(aesDecryptor.process(text1));
    decryptedSlices.push(aesDecryptor.process(text2));
    decryptedSlices.push(aesDecryptor.finalize());
    
    console.log(decryptedSlices[2]);

    $.each(decryptedSlices, function(index, value) {

        $.ajax({
          url: '/upload',
          type: 'POST',
          xhr: function() { // custom xhr
            var myXhr = $.ajaxSettings.xhr();
            if(myXhr.upload) { // check if upload property exists
              myXhr.upload.addEventListener('progress', progressHandler, false); // for handling the progress of the upload
            }
            return myXhr;
          },
          contentType: 'text/plain',
          //Ajax events
          //beforeSend: beforeSendHandler,
          success: successHandler,
          error: errorHandler,
          // Form data
          headers: {
            'X-File-Content-Type': "application/octet-stream",
            'X-File-Name': "decrypted",
            'X-Chunk-Number': index
          },
          data: value, // binary chunk
          processData: false,
          cache: false
        });
    });

}