{% extends 'base.html' %}

{% block body %}

<div class="ui left aligned relaxed form segment">
  <h4 class="ui header">Public vault</h4>

  <table class="ui basic padded table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Uploaded</th>
        <th>User</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {%for key in files_dict%}
      <tr>
        <td>{{files_dict[key].rsplit('_',1)[1]}}</td>
        <td>{{datetime.datetime.fromtimestamp((files_dict[key].rsplit('_',1)[0])|int)}}</td>
        <td>Bla</td>
        <td><a href="{{ url_for('download', file = key) }}" class="ui pink button">Download</a></td>
      </tr>
    {%endfor%}
    </tbody>
  </table>
</div>
<script src="{{ url_for('static', filename='score.js') }}"></script>


{% endblock %}
