{% extends 'base.html' %}

{% block body %}

<div class="ui left aligned relaxed form segment">
  <h4 class="ui header">Public vault</h4>

  <table class="ui unstackable striped padded table">
    <thead>
      <tr>
        <th class="five wide">Name</th>
        <th class="four wide">Uploaded</th>
        <th class="five wide">Uploaded By</th>
        <th class="two wide right aligned"></th>
      </tr>
    </thead>
    <tbody>
    {% for key in files_dict | sort(true) %}
      <tr>
        <td>{{ files_dict[key].rsplit('_',1)[1] }}</td>
        <td>
          <abbr class="timeago" title="{{ datetime.datetime.fromtimestamp((files_dict[key].rsplit('_',1)[0])|int) }}"></abbr>
        </td>
        <td>
        {% if files_usernames_dict[key] %}

        {{ files_usernames_dict[key] }}

        {% else %}

        Anonymous

        {% endif %}
        </td>
        <td class="right aligned">
          <div class="ui large pink buttons">
            <a href="{{ url_for('download', file = key) }}" class="ui icon button">
              <i class="download icon"></i>
            </a>
          </div>
        </td>
        {% else %}
        <td colspan="3">
          There are no files here. <a href="/">Upload</a> the first one.
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
